<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Nunito:wght@300&family=Trirong:ital,wght@1,100&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d6a5b8ec41.js" crossorigin="anonymous"></script>
    <link href="{{ "styles.css" | absolute_url }}" rel="stylesheet">
  </head>
  <body>
    <main>{{ content }}</main>
  </body>
</html>
